<!DOCTYPE html>

<html>

  <head>
      <meta charset="UTF-8">
      <title>Home Page</title>
  </head>

  <body>
      {{> header}}
      <p>Site unavailable - we'll be right back</p>
      <p>Sorry for any inconvenience!!!! NOT!!!!</p>
      
  </body>

 {{> footer}}

</html>